<div
  class="flex items-center justify-between p-3 border-b last:border-b-0 hover:bg-gray-50 rounded-lg"
>
  <div class="flex items-center gap-4">
    @if (status === 'checked') {
    <mat-icon class="text-green-500">check_circle</mat-icon>
    } @else if (status === 'pending') {
    <mat-icon class="text-gray-400">radio_button_unchecked</mat-icon>
    }
    <div>
      <div class="font-medium">{{ name }}</div>
      <div class="text-sm text-gray-500">{{ room }}</div>
    </div>
  </div>

  <div class="text-sm text-gray-500">
    {{ time }}
  </div>
</div>
